* {
    padding:0;
    margin:0;
    box-sizing: border-box;
}

nav {
    background-color: tomato;
    color: white;
    min-height: 200px;
    display: flex;
    align-items: center;
}

.logoContainer {
    width: 50%;
    display:flex;
    justify-content: center;
}

ul {
    width: 50%;
    display: flex;  
    justify-content: space-around;
}

li {
    list-style: none;  
}

a {
    text-decoration: none;
    text-transform: uppercase; 
    color: white;   
}

.textContainer {
    margin-top: 100px;
    text-align: center;
}

h1 {
    margin-bottom: 50px;
}